body{
    display: flex;
    justify-content: center;
    background-color: rgb(21, 18, 18);
    }
    
    form{
    margin-top: 5rem;
    
    }
    
    .inicio{
    margin-top: 1rem;
    
    }
    
    
    footer{
    margin-top: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    
    }
    
    
    .div-container{
    margin-top: 1rem;
    
    }